__pycache__
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
.env
.venv
.env.local
.env.django
.env.flask
.env.old
.dockerignore
.git
.gitignore
*.git
*.md
node_modules/
staticfiles/
frontend/
tests/
notebooks/
*.tar.gz
*.zip
*.tar
*.7z
azure_credentials.json